<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.htyw.app.checkingIN.dao.CheckingInClockDao">
	<resultMap id="BaseResultMap" type="com.htyw.app.checkingIN.pojo.CheckingInClock">
		<id column="ID" jdbcType="BIGINT" property="id" />
		<result column="OFFICE_HOURS" jdbcType="TIME" property="officeHours" />
		<result column="CLOSING_TIME" jdbcType="TIME" property="closingTime" />
		<result column="STATE" jdbcType="CHAR" property="state" />
		<result column="TENANTID" jdbcType="BIGINT" property="tenantid" />
		<result column="NAME" jdbcType="VARCHAR" property="name" />
		<result column="STAFF_ID" jdbcType="BIGINT" property="staffId" />
		<result column="CHECKING_IN_DATE_ID" jdbcType="BIGINT"
			property="checkingInDateId" />
		<result column="OUTWORKER" jdbcType="CHAR" property="outworker" />
		<result column="LOCATION" jdbcType="VARCHAR" property="location" />
		<result column="CLOCK_IN_TIME" jdbcType="CHAR" property="clockInTime" />
		<result column="LEAVE_EARLY" jdbcType="CHAR" property="leaveEarly" />
		<result column="CHECKING_IN_DATE" jdbcType="DATE" property="checkingInDate" />
		<result column="AUDIT_STATE" jdbcType="CHAR" property="auditState" />
		<result column="OUTWORK_CAUSE" jdbcType="VARCHAR" property="outworkCause" />
	</resultMap>
	<sql id="Example_Where_Clause">
		<where>
			<foreach collection="oredCriteria" item="criteria" separator="or">
				<if test="criteria.valid">
					<trim prefix="(" prefixOverrides="and" suffix=")">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value}
									and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach close=")" collection="criterion.value" item="listItem"
										open="(" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Base_Column_List">
		ID, OFFICE_HOURS, CLOSING_TIME, STATE, TENANTID, NAME,
		STAFF_ID,
		CHECKING_IN_DATE_ID,
		OUTWORKER, LOCATION, CLOCK_IN_TIME,
		LEAVE_EARLY, CHECKING_IN_DATE, AUDIT_STATE
	</sql>
	<select id="selectByExample" parameterType="com.htyw.app.checkingIN.pojo.CheckingInClockExample"
		resultMap="BaseResultMap">
		select
		<if test="distinct">
			distinct
		</if>
		<include refid="Base_Column_List" />
		from checking_in_clock
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
	</select>
	<select id="selectByPrimaryKey" parameterType="java.lang.Long"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from checking_in_clock
		where ID = #{id,jdbcType=BIGINT}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from
		checking_in_clock
		where ID = #{id,jdbcType=BIGINT}
	</delete>
	<insert id="insert" parameterType="com.htyw.app.checkingIN.pojo.CheckingInClock">
		insert into checking_in_clock
		(ID, OFFICE_HOURS, CLOSING_TIME,
		STATE, TENANTID, NAME,
		STAFF_ID,
		CHECKING_IN_DATE_ID, OUTWORKER,
		LOCATION, CLOCK_IN_TIME, LEAVE_EARLY,
		CHECKING_IN_DATE, AUDIT_STATE, OUTWORK_CAUSE)
		values
		(#{id,jdbcType=BIGINT}, #{officeHours,jdbcType=TIME},
		#{closingTime,jdbcType=TIME},
		#{state,jdbcType=CHAR},
		#{tenantid,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR},
		#{staffId,jdbcType=BIGINT}, #{checkingInDateId,jdbcType=BIGINT},
		#{outworker,jdbcType=CHAR},
		#{location,jdbcType=VARCHAR},
		#{clockInTime,jdbcType=CHAR}, #{leaveEarly,jdbcType=CHAR},
		#{checkingInDate,jdbcType=DATE}, #{auditState,jdbcType=CHAR},
		#{outworkCause,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.htyw.app.checkingIN.pojo.CheckingInClock">
		insert into checking_in_clock
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				ID,
			</if>
			<if test="officeHours != null">
				OFFICE_HOURS,
			</if>
			<if test="closingTime != null">
				CLOSING_TIME,
			</if>
			<if test="state != null">
				STATE,
			</if>
			<if test="tenantid != null">
				TENANTID,
			</if>
			<if test="name != null">
				NAME,
			</if>
			<if test="staffId != null">
				STAFF_ID,
			</if>
			<if test="checkingInDateId != null">
				CHECKING_IN_DATE_ID,
			</if>
			<if test="outworker != null">
				OUTWORKER,
			</if>
			<if test="location != null">
				LOCATION,
			</if>
			<if test="clockInTime != null">
				CLOCK_IN_TIME,
			</if>
			<if test="leaveEarly != null">
				LEAVE_EARLY,
			</if>
			<if test="checkingInDate != null">
				CHECKING_IN_DATE,
			</if>
			<if test="auditState != null">
				AUDIT_STATE,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=BIGINT},
			</if>
			<if test="officeHours != null">
				#{officeHours,jdbcType=TIME},
			</if>
			<if test="closingTime != null">
				#{closingTime,jdbcType=TIME},
			</if>
			<if test="state != null">
				#{state,jdbcType=CHAR},
			</if>
			<if test="tenantid != null">
				#{tenantid,jdbcType=BIGINT},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="staffId != null">
				#{staffId,jdbcType=BIGINT},
			</if>
			<if test="checkingInDateId != null">
				#{checkingInDateId,jdbcType=BIGINT},
			</if>
			<if test="outworker != null">
				#{outworker,jdbcType=CHAR},
			</if>
			<if test="location != null">
				#{location,jdbcType=VARCHAR},
			</if>
			<if test="clockInTime != null">
				#{clockInTime,jdbcType=CHAR},
			</if>
			<if test="leaveEarly != null">
				#{leaveEarly,jdbcType=CHAR},
			</if>
			<if test="checkingInDate != null">
				#{checkingInDate,jdbcType=DATE},
			</if>
			<if test="auditState != null">
				#{auditState,jdbcType=CHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.htyw.app.checkingIN.pojo.CheckingInClock">
		update checking_in_clock
		<set>
			<if test="officeHours != null">
				OFFICE_HOURS = #{officeHours,jdbcType=TIME},
			</if>
			<if test="closingTime != null">
				CLOSING_TIME = #{closingTime,jdbcType=TIME},
			</if>
			<if test="state != null">
				STATE = #{state,jdbcType=CHAR},
			</if>
			<if test="tenantid != null">
				TENANTID = #{tenantid,jdbcType=BIGINT},
			</if>
			<if test="name != null">
				NAME = #{name,jdbcType=VARCHAR},
			</if>
			<if test="staffId != null">
				STAFF_ID = #{staffId,jdbcType=BIGINT},
			</if>
			<if test="checkingInDateId != null">
				CHECKING_IN_DATE_ID =
				#{checkingInDateId,jdbcType=BIGINT},
			</if>
			<if test="outworker != null">
				OUTWORKER = #{outworker,jdbcType=CHAR},
			</if>
			<if test="location != null">
				LOCATION = #{location,jdbcType=VARCHAR},
			</if>
			<if test="clockInTime != null">
				CLOCK_IN_TIME = #{clockInTime,jdbcType=CHAR},
			</if>
			<if test="leaveEarly != null">
				LEAVE_EARLY = #{leaveEarly,jdbcType=CHAR},
			</if>
			<if test="checkingInDate != null">
				CHECKING_IN_DATE = #{checkingInDate,jdbcType=DATE},
			</if>
			<if test="auditState != null">
				AUDIT_STATE = #{auditState,jdbcType=CHAR},
			</if>
		</set>
		where ID = #{id,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.htyw.app.checkingIN.pojo.CheckingInClock">
		update
		checking_in_clock
		set OFFICE_HOURS = #{officeHours,jdbcType=TIME},
		CLOSING_TIME = #{closingTime,jdbcType=TIME},
		STATE =
		#{state,jdbcType=CHAR},
		TENANTID = #{tenantid,jdbcType=BIGINT},
		NAME =
		#{name,jdbcType=VARCHAR},
		STAFF_ID = #{staffId,jdbcType=BIGINT},
		CHECKING_IN_DATE_ID = #{checkingInDateId,jdbcType=BIGINT},
		OUTWORKER =
		#{outworker,jdbcType=CHAR},
		LOCATION = #{location,jdbcType=VARCHAR},
		CLOCK_IN_TIME = #{clockInTime,jdbcType=CHAR},
		LEAVE_EARLY =
		#{leaveEarly,jdbcType=CHAR},
		CHECKING_IN_DATE =
		#{checkingInDate,jdbcType=DATE},
		AUDIT_STATE =
		#{auditState,jdbcType=CHAR}
		where ID = #{id,jdbcType=BIGINT}
	</update>

	<!-- 根据条件修改 -->
	<update id="updateByStaffId" parameterType="com.htyw.app.checkingIN.pojo.CheckingInClock">
		update checking_in_clock
		<set>
			<if test="officeHours != null">
				OFFICE_HOURS = #{officeHours,jdbcType=TIME},
			</if>
			<if test="closingTime != null">
				CLOSING_TIME = #{closingTime,jdbcType=TIME},
			</if>
			<if test="state != null">
				STATE = #{state,jdbcType=CHAR},
			</if>
			<if test="tenantid != null">
				TENANTID = #{tenantid,jdbcType=BIGINT},
			</if>
			<if test="name != null">
				NAME = #{name,jdbcType=VARCHAR},
			</if>
			<if test="staffId != null">
				STAFF_ID = #{staffId,jdbcType=BIGINT},
			</if>
			<if test="checkingInDateId != null">
				CHECKING_IN_DATE_ID =
				#{checkingInDateId,jdbcType=BIGINT},
			</if>
			<if test="outworker != null">
				OUTWORKER = #{outworker,jdbcType=CHAR},
			</if>
			<if test="location != null">
				LOCATION = #{location,jdbcType=VARCHAR},
			</if>
			<if test="clockInTime != null">
				CLOCK_IN_TIME = #{clockInTime,jdbcType=CHAR},
			</if>
			<if test="leaveEarly != null">
				LEAVE_EARLY = #{leaveEarly,jdbcType=CHAR},
			</if>
			<if test="checkingInDate != null">
				CHECKING_IN_DATE = #{checkingInDate,jdbcType=DATE},
			</if>
			<if test="auditState != null">
				AUDIT_STATE = #{auditState,jdbcType=CHAR},
			</if>
		</set>
		where STAFF_ID = #{staffId,jdbcType=BIGINT}
	</update>
	<!-- 根据员工id查 -->
	<select id="selectByStaffId" parameterType="java.lang.Long"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from checking_in_clock
		where STAFF_ID = #{0}
		and TENANTID = #{1}
		ORDER BY CHECKING_IN_DATE DESC
	</select>
	<!-- 查询每人每天的打卡状态 -->
	<select id="selectByOlyn" parameterType="java.lang.Long"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from checking_in_clock
		where STAFF_ID = #{0}
		and TENANTID = #{1}
		and
		CHECKING_IN_DATE_ID = #{2}
	</select>
	<!-- 考勤详情 -->
	<select id="selectParticulars" parameterType="com.htyw.app.checkingIN.pojo.CheckingInClock"
		resultMap="BaseResultMap">
		SELECT *FROM checking_in_clock WHERE TENANTID =
		#{tenantid,jdbcType=BIGINT} and STAFF_ID =#{staffId,jdbcType=BIGINT}
		and CHECKING_IN_DATE LIKE #{checkingInDate,jdbcType=DATE}
		ORDER BY CHECKING_IN_DATE DESC
	</select>
	<!-- 筛选 -->
	<select id="getSousuo" 
		resultMap="BaseResultMap">
		SELECT * FROM (SELECT *FROM checking_in_clock WHERE TENANTID =
		#{0} and STAFF_ID =#{1}) a WHERE a.CHECKING_IN_DATE BETWEEN #{2} AND #{3}
		ORDER BY CHECKING_IN_DATE DESC 
	</select>
	<!-- 打卡次数 -->
	<select id="checkNumber" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from checking_in_clock
		where STAFF_ID = #{0}
		and TENANTID =#{1}
		and
		CHECKING_IN_DATE =#{2}
	</select>

	<!-- 获取未少打卡 -->
	<select id="getYichang" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		 FROM (select ID, OFFICE_HOURS, CLOSING_TIME, STATE, TENANTID,
		NAME, STAFF_ID, CHECKING_IN_DATE_ID, OUTWORKER, LOCATION,
		CLOCK_IN_TIME, LEAVE_EARLY, CHECKING_IN_DATE, AUDIT_STATE from
		checking_in_clock where STAFF_ID = #{0})a WHERE a.STATE IN(0,2) OR
		a.LEAVE_EARLY in(1,2)
		ORDER BY CHECKING_IN_DATE DESC
	</select>

</mapper>