<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.htyw.app.community.dao.CommunityNewsMapper">
  <resultMap id="BaseResultMap" type="com.htyw.app.community.pojo.CommunityNews">
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="COMMUNITY" jdbcType="VARCHAR" property="community" />
    <result column="COMMUNITY_ID" jdbcType="BIGINT" property="communityId" />
    <result column="TITLE" jdbcType="VARCHAR" property="title" />
    <result column="IMAGE" jdbcType="VARCHAR" property="image" />
    <result column="URL" jdbcType="VARCHAR" property="url" />
    <result column="NEWS_TYPE" jdbcType="VARCHAR" property="newsType" />
    <result column="CONTENT" jdbcType="VARCHAR" property="content" />
    <result column="ROOF_PLACEMENT" jdbcType="CHAR" property="roofPlacement" />
    <result column="PUBLISH_DATE" jdbcType="TIMESTAMP" property="publishDate" />
    <result column="LAST_UPDATE_DATE" jdbcType="TIMESTAMP" property="lastUpdateDate" />
    <result column="STATE" jdbcType="CHAR" property="state" />
    <result column="TENANTID" jdbcType="VARCHAR" property="tenantid" />
    <result column="DR" jdbcType="CHAR" property="dr" />
    <result column="ORGANIZATION_ID" jdbcType="VARCHAR" property="organizationId" />
    <result column="ORGANIZATION_NAME" jdbcType="VARCHAR" property="organizationName" />
    <result column="CREATOR_ID" jdbcType="VARCHAR" property="creatorId" />
    <result column="CREATOR_NAME" jdbcType="VARCHAR" property="creatorName" />
    <result column="BILL_STATUS" jdbcType="VARCHAR" property="billStatus" />
  </resultMap>
  
    <resultMap id="NewsMap" type="java.util.HashMap">
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="TITLE" jdbcType="VARCHAR" property="title" />
    <result column="IMAGE" jdbcType="VARCHAR" property="image" />
    <result column="CONTENT" jdbcType="VARCHAR" property="content" />
    <result column="URL" jdbcType="VARCHAR" property="url" />
    <result column="PUBLISH_DATE" jdbcType="TIMESTAMP" property="publishDate" />
  </resultMap>
  
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, COMMUNITY, COMMUNITY_ID, TITLE, IMAGE, URL, NEWS_TYPE, CONTENT, ROOF_PLACEMENT, 
    PUBLISH_DATE, LAST_UPDATE_DATE, STATE, TENANTID, DR, ORGANIZATION_ID, ORGANIZATION_NAME, 
    CREATOR_ID, CREATOR_NAME, BILL_STATUS
  </sql>
  <select id="selectByExample" parameterType="com.htyw.app.community.pojo.CommunityNewsExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from prg_community_news
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from prg_community_news
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from prg_community_news
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.htyw.app.community.pojo.CommunityNews">
    insert into prg_community_news (ID, COMMUNITY, COMMUNITY_ID, 
      TITLE, IMAGE, URL, 
      NEWS_TYPE, CONTENT, ROOF_PLACEMENT, 
      PUBLISH_DATE, LAST_UPDATE_DATE, STATE, 
      TENANTID, DR, ORGANIZATION_ID, 
      ORGANIZATION_NAME, CREATOR_ID, CREATOR_NAME, 
      BILL_STATUS)
    values (#{id,jdbcType=BIGINT}, #{community,jdbcType=VARCHAR}, #{communityId,jdbcType=BIGINT}, 
      #{title,jdbcType=VARCHAR}, #{image,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, 
      #{newsType,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, #{roofPlacement,jdbcType=CHAR}, 
      #{publishDate,jdbcType=TIMESTAMP}, #{lastUpdateDate,jdbcType=TIMESTAMP}, #{state,jdbcType=CHAR}, 
      #{tenantid,jdbcType=VARCHAR}, #{dr,jdbcType=CHAR}, #{organizationId,jdbcType=VARCHAR}, 
      #{organizationName,jdbcType=VARCHAR}, #{creatorId,jdbcType=VARCHAR}, #{creatorName,jdbcType=VARCHAR}, 
      #{billStatus,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.htyw.app.community.pojo.CommunityNews">
    insert into prg_community_news
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="community != null">
        COMMUNITY,
      </if>
      <if test="communityId != null">
        COMMUNITY_ID,
      </if>
      <if test="title != null">
        TITLE,
      </if>
      <if test="image != null">
        IMAGE,
      </if>
      <if test="url != null">
        URL,
      </if>
      <if test="newsType != null">
        NEWS_TYPE,
      </if>
      <if test="content != null">
        CONTENT,
      </if>
      <if test="roofPlacement != null">
        ROOF_PLACEMENT,
      </if>
      <if test="publishDate != null">
        PUBLISH_DATE,
      </if>
      <if test="lastUpdateDate != null">
        LAST_UPDATE_DATE,
      </if>
      <if test="state != null">
        STATE,
      </if>
      <if test="tenantid != null">
        TENANTID,
      </if>
      <if test="dr != null">
        DR,
      </if>
      <if test="organizationId != null">
        ORGANIZATION_ID,
      </if>
      <if test="organizationName != null">
        ORGANIZATION_NAME,
      </if>
      <if test="creatorId != null">
        CREATOR_ID,
      </if>
      <if test="creatorName != null">
        CREATOR_NAME,
      </if>
      <if test="billStatus != null">
        BILL_STATUS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="community != null">
        #{community,jdbcType=VARCHAR},
      </if>
      <if test="communityId != null">
        #{communityId,jdbcType=BIGINT},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="image != null">
        #{image,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="newsType != null">
        #{newsType,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="roofPlacement != null">
        #{roofPlacement,jdbcType=CHAR},
      </if>
      <if test="publishDate != null">
        #{publishDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateDate != null">
        #{lastUpdateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null">
        #{state,jdbcType=CHAR},
      </if>
      <if test="tenantid != null">
        #{tenantid,jdbcType=VARCHAR},
      </if>
      <if test="dr != null">
        #{dr,jdbcType=CHAR},
      </if>
      <if test="organizationId != null">
        #{organizationId,jdbcType=VARCHAR},
      </if>
      <if test="organizationName != null">
        #{organizationName,jdbcType=VARCHAR},
      </if>
      <if test="creatorId != null">
        #{creatorId,jdbcType=VARCHAR},
      </if>
      <if test="creatorName != null">
        #{creatorName,jdbcType=VARCHAR},
      </if>
      <if test="billStatus != null">
        #{billStatus,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.htyw.app.community.pojo.CommunityNews">
    update prg_community_news
    <set>
      <if test="community != null">
        COMMUNITY = #{community,jdbcType=VARCHAR},
      </if>
      <if test="communityId != null">
        COMMUNITY_ID = #{communityId,jdbcType=BIGINT},
      </if>
      <if test="title != null">
        TITLE = #{title,jdbcType=VARCHAR},
      </if>
      <if test="image != null">
        IMAGE = #{image,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        URL = #{url,jdbcType=VARCHAR},
      </if>
      <if test="newsType != null">
        NEWS_TYPE = #{newsType,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        CONTENT = #{content,jdbcType=VARCHAR},
      </if>
      <if test="roofPlacement != null">
        ROOF_PLACEMENT = #{roofPlacement,jdbcType=CHAR},
      </if>
      <if test="publishDate != null">
        PUBLISH_DATE = #{publishDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateDate != null">
        LAST_UPDATE_DATE = #{lastUpdateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null">
        STATE = #{state,jdbcType=CHAR},
      </if>
      <if test="tenantid != null">
        TENANTID = #{tenantid,jdbcType=VARCHAR},
      </if>
      <if test="dr != null">
        DR = #{dr,jdbcType=CHAR},
      </if>
      <if test="organizationId != null">
        ORGANIZATION_ID = #{organizationId,jdbcType=VARCHAR},
      </if>
      <if test="organizationName != null">
        ORGANIZATION_NAME = #{organizationName,jdbcType=VARCHAR},
      </if>
      <if test="creatorId != null">
        CREATOR_ID = #{creatorId,jdbcType=VARCHAR},
      </if>
      <if test="creatorName != null">
        CREATOR_NAME = #{creatorName,jdbcType=VARCHAR},
      </if>
      <if test="billStatus != null">
        BILL_STATUS = #{billStatus,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.htyw.app.community.pojo.CommunityNews">
    update prg_community_news
    set COMMUNITY = #{community,jdbcType=VARCHAR},
      COMMUNITY_ID = #{communityId,jdbcType=BIGINT},
      TITLE = #{title,jdbcType=VARCHAR},
      IMAGE = #{image,jdbcType=VARCHAR},
      URL = #{url,jdbcType=VARCHAR},
      NEWS_TYPE = #{newsType,jdbcType=VARCHAR},
      CONTENT = #{content,jdbcType=VARCHAR},
      ROOF_PLACEMENT = #{roofPlacement,jdbcType=CHAR},
      PUBLISH_DATE = #{publishDate,jdbcType=TIMESTAMP},
      LAST_UPDATE_DATE = #{lastUpdateDate,jdbcType=TIMESTAMP},
      STATE = #{state,jdbcType=CHAR},
      TENANTID = #{tenantid,jdbcType=VARCHAR},
      DR = #{dr,jdbcType=CHAR},
      ORGANIZATION_ID = #{organizationId,jdbcType=VARCHAR},
      ORGANIZATION_NAME = #{organizationName,jdbcType=VARCHAR},
      CREATOR_ID = #{creatorId,jdbcType=VARCHAR},
      CREATOR_NAME = #{creatorName,jdbcType=VARCHAR},
      BILL_STATUS = #{billStatus,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=BIGINT}
  </update>
  
  <!-- 获取社区公告列表 -->
  <select id="getCommunityBulletin" resultType="CommunityNews">
  	select
  		b.ID as "id",
  		b.TITLE as "title",
  		b.IMAGE as "image",
  		b.CONTENT as "content",
  		b.URL as "url",
  		b.PUBLISH_DATE as "publishDate",
  		b.NEWS_TYPE as "newsType",
  		b.DR as "dr",
  		b.TENANTID as "tenantid"
  	from
  		PRG_COMMUNITY_NEWS b
  	<where>
  		b.DR = 0
  		<if test="newsType != null and newsType != ''">
	       and b.NEWS_TYPE = #{newsType}
	    </if>
	    <if test="tenantid != null and tenantid != ''">
	       and b.TENANTID = #{tenantid}
	    </if>
  		<if test="startDate != null and startDate != ''">
       	and  b.PUBLISH_DATE <![CDATA[>=]]> #{startDate} 
    	 </if>
     	<if test="endDate != null and endDate != ''">
     	 and b.PUBLISH_DATE <![CDATA[<=]]> #{endDate}
     	</if>
  		order by PUBLISH_DATE desc
  	</where>
  </select>
  
   <select id="getCommunityDetail" resultMap="BaseResultMap">
  	select
  		ID,
  		TITLE,
  		IMAGE,
  		CONTENT,
  		URL,
  		PUBLISH_DATE
  	from
  		PRG_COMMUNITY_NEWS
  	where
  		ID = #{0}
  </select>
  
  	<!-- 查询社区公告图片 -->
	<select id="getPhoto" resultType="java.lang.String">
		SELECT
		a.service_path
		AS
		servicePath
		FROM
		doc_document a
		where
		a.batch_no=#{image}
		limit
		0,1
	</select>
  
</mapper>